

h1{
    opacity: 0.2;
    font-size: 40px;
    text-align: center;
    

    
}
img{
    filter: blur(10px);
    
}  
.flex-contneri{
    display:block;
    background-color: chartreuse;
    color: azure;
    padding: auto;
}

.fixed-item{
    border: saddlebrown;
    border-style:double; 
}
div{
    background-image: url(./logo.jpg),url(./logo1.jpg);
}
p::first-letter{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    
}
